body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1a1a1b, #3d3d3d);
  background-size: cover;
}

section {
  max-height: 80vh;
  max-width: 500px;
  margin: 10px;
}


@media screen and (max-width: 700px) {
  h1 {
    font-size: large;
  }
}

.item-container {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid black;
  margin: 10px;
  width: auto;
}

#pet-listings {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
}

.pet-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 250px;
}

.img-container {
  width: 200px;
  height: 150px;
}

.pet-image {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.pet-info {
  display: flex;
  flex-direction: column;
  height: 30%;
}

.pet-info .availability {
  margin: 0;
  word-wrap: break-word;
}

#menu-items {
  margin: 10px 0;
}

a.no-underline:hover {
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 5px;
}

.edit-button {
  bottom: 0;
  right: 0;
}

.add-button,
.edit-button,
.cancel-button {
  border-radius: 5px;
  border: none;
  padding: 0 4px;
  cursor: pointer;
}

/* .delete-button {
  background-color: rgb(97, 30, 30);
  color: #c1c4c4;
  font-size: small;
  padding: 4.5px 5px;
} */


.flash-message {
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.flash-message.success {
  background-color: #28a745;
  border: 1px solid #218838;
}

.flash-message.error {
  background-color: #dc3545;
  border: 1px solid #c82333;
}