{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block navbar %}
<ul>
  <li><a href="/" class="nav-item">Home</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="pets-container" class="item-container">
  <h1>Pets</h1>

  <div id="pet-listings">
    {% for pet in pets %}
    <div class="pet-card">
      <img src="{{ pet.photo_url }}" alt="{{ pet.name }}" class="pet-image">
      <div class="pet-info">
        <p class="availability">{{ pet.name }} is {{ "available!" if pet.available else "no longer available :(" }}</p>
        <div class="buttons">
          <a href="/display/{{ pet.id }}" class="edit-button btn-tertiary no-underline">View </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div id="menu-items">
    {% if not pets %}
    <p>No pets found.</p>
    {% endif %}

    <a href="/add" class="add-button btn-primary no-underline">Add Pet</a>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    <div class="flash-message {{ category }}">
      {{ message }}
    </div>
    {% endfor %}
    {% endwith %}
  </div>

</div>


{% endblock %}