{% extends 'base.html' %}

{% block content %}
<div class="item-container">
  <h1>{{ pet.name }}</h1>

  <div class="pet-info">
    <p>Species: {{ pet.species }}</p>
    <div class="img-container">
      <img src="{{ pet.photo_url }}" alt="{{ pet.name }}" class="pet-image">
    </div>
    <p>Age: {{ pet.age }}</p>
    <p>Notes: {{ pet.notes }}</p>

    <div class="buttons">
      <a href="{{ url_for('home_page') }}" class="cancel-button btn-secondary no-underline">Back</a>
      <a href="{{ url_for('edit_pet_form', pet_id=pet.id) }}" class="edit-button btn-tertiary no-underline">Edit </a>
    </div>
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
  <div class="flash-message {{ category }}">
    {{ message }}
  </div>
  {% endfor %}
  {% endwith %}
</div>
{% endblock %}